.seo{

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			font-size: 48px;
			font-weight: 600;
		}
		&text{
			margin-top: 35px;
			font-size: 18px;
			font-weight: 600;
			line-height: 30px;
		}
	}
}
