<a href="#" class="search-live">
	<div class="search-live__left">
		<div class="search-live__type">Набор инструмента</div>
		<div class="search-live__inline">
			<div class="search-live__title">STAYER</div>
			<div class="search-live__name">15 предметов</div>
		</div>
	</div>
	<div class="search-live__right">
		<div class="search-live__price">
			2 063 <span>р</span>
		</div>
	</div>
</a>
