.search-live{

	text-decoration: none;
	color: #000;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 7px 0;

	&:not(:last-child){
		border-bottom: 1px solid #e9e9e9;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&inline{
			display: flex;
			align-items: flex-end;
			margin-top: 3px;
		}
		&type{
			font-size: 11px;
			font-weight: 700;
			color: #6a6a6a;
		}
		&title{
			font-weight: 600;
			text-transform: uppercase;
		}
		&name{
			margin-left: 5px;
			font-size: 14px;
		}
		&price{
			font-size: 18px;
			font-weight: 600;
			span{
				font-weight: 400;
			}
		}
	}
}
