<div class="pages">
	<a href="#" class="pages__arrow pages__arrow--left pages__arrow--passive"></a>
	<a href="#" class="pages__number _active">1</a>
	<a href="#" class="pages__number">2</a>
	<a href="#" class="pages__number">3</a>
	<a href="#" class="pages__number">4</a>
	<a href="#" class="pages__number">5</a>
	<a href="#" class="pages__number">6</a>
	<a href="#" class="pages__number">7</a>
	<a href="#" class="pages__number">8</a>
	<a href="#" class="pages__number">9</a>
	<div class="pages__dots">...</div>
	<a href="#" class="pages__number">52</a>
	<a href="#" class="pages__arrow pages__arrow--right"></a>
</div>
