.pages{

	@extend .b-grid;
	justify-content: center;
	align-items: center;

	margin-top: 45px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&arrow{
			width: 20px;
			height: 36px;
			cursor: pointer;
			&:not(.pages__arrow--passive):hover:before{
				background-color: hsl(197, 100%, 47%);
			}
			&:not(.pages__arrow--passive):hover:after{
				background-color: hsl(197, 100%, 47%);
			}

			&--{
				&left{
					position: relative;
					margin-right: 10px;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 35%;
						transform: rotate(-45deg) translate(-50%, -1px);
						width: 25px;
						height: 3px;
						background-color: #000;
					}
					&:after{
						content: "";
						position: absolute;
						bottom: 0;
						left: 35%;
						transform: rotate(45deg) translate(-50%, 1px);
						width: 25px;
						height: 3px;
						background-color: #000;
					}
				}
				&right{
					position: relative;
					margin-left: 10px;
					&:before{
						content: "";
						position: absolute;
						top: 50%;
						left: 35%;
						transform: rotate(45deg) translate(-50%, -1px);
						width: 25px;
						height: 3px;
						background-color: #000;
					}
					&:after{
						content: "";
						position: absolute;
						bottom: 50%;
						left: 35%;
						transform: rotate(-45deg) translate(-50%, 1px);
						width: 25px;
						height: 3px;
						background-color: #000;
					}
				}
				&passive{
					&:after{
						background-color: hsl(0, 0%, 86%);
					}
					&:before{
						background-color: hsl(0, 0%, 86%);
					}
				}
			}
		}
		&number{
			margin: 0 15px;
			font-size: 24px;
			text-decoration: none;
			&._active{
				font-weight: 600;
				color: hsl(0, 0%, 65%);
			}
			&:not(._active){
				color: #000;
				&:hover{
					color: hsl(197, 100%, 47%);
				}
			}
		}
	}
}
