<div class="cart">
	<div class="cart__title">
		<div class="cart__title-icon"><i class="i-cart-2"></i></div>
		<h1 class="cart__title-text">Оформление заказа</h1>
	</div>
	<import src="contacts"></import>
	<div class="cart__products">
		<div class="cart__product" repeat="3">
			<div class="cart__product-left">
				<div class="cart__product-article">Арт. № 123456 | Набор инструмента в кейсе</div>
				<div class="cart__product-title">
					<div class="cart__product-name">VIRA 305075</div>
					<div class="cart__product-description">118 предметов</div>
				</div>
			</div>
			<div class="cart__product-right">
				<import src="counter"></import>
				<import src="price" class=" cart__price"></import>
			</div>
		</div>
	</div>
	<div class="cart__pays">
		<div class="cart__pays-wrap">
			<div class="cart__pays-title cart__pays-title--center">Выберите вариант оплаты:</div>
			<div class="cart__pays-body">
				<a href="#" class="cart__pays-item" repeat="5"><img src=":110x50" alt="" /></a>
			</div>
		</div>
	</div>
	<div class="cart__bottom">
		<div class="cart__total">Всего: 5 459 р</div>
		<a href="#" class="cart__topay">
			<div class="cart__topay-icon cart__topay-icon--left"><i class="i-check"></i></div>
			<div class="cart__topay-text">Оплатить</div>
		</a>
	</div>
</div>
