.cart{
	margin-top: 50px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			display: flex;
			justify-content: center;
			align-items: center;
			&-{
				&text{
					margin-left: 15px;
					font-size: 36px;
				}
			}
		}
		&products{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 680px;
			margin: 50px auto 0;
		}
		&product{
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 10px 85px 10px 25px;
			cursor: pointer;
			border: 1px solid transparent;
			&:hover{
				border: 1px solid hsl(0, 0%, 90%);
			}
			&:not(:last-child){
				margin-bottom: 30px;
			}
			&--{
				&long{
					padding: 10px 20px 10px 10px;
				}
			}
			&-{
				&left{
					&--{
						&flex{
							display: flex;
							align-items: center;
						}
					}
				}
				&right{
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				&preview{
					width: 80px;
					height: 70px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 20px;
				}
				&article{
					font-size: 11px;
					font-weight: 700;
					color: hsl(0, 0%, 42%);
				}
				&title{
					display: flex;
					align-items: flex-end;
					margin-top: 10px;
				}
				&name{
					font-size: 18px;
					font-weight: 600;
				}
				&description{
					margin-left: 5px;
				}
			}
		}
		&price{
			width: 200px;
			margin-top: 5px;
		}
		&bottom{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 40px;
			margin-top: 40px;
		}
		&total{
			width: 300px;
			line-height: 64px;
			text-align: center;
			font-size: 24px;
			background-color: hsl(0, 0%, 94%);
		}
		&topay{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 300px;
			height: 64px;

			background-color: hsl(209, 73%, 50%);
			text-decoration: none;
			&-{
				&text{
					margin-bottom: 5px;
					font-size: 24px;
					color: #fff;
				}
				&icon{
					margin-left: 20px;
					&--{
						&left{
							margin-left: 0;
							margin-right: 10px;
						}
					}
				}
			}
		}
		&pays{
			display: flex;
			justify-content: center;

			margin-top: 55px;
			padding-top: 45px;
			box-shadow: 0 -2px 0 0 #e8e9ea;
			&-{
				&title{
					font-size: 24px;

					&--{
						&center{
							text-align: center;
						}
					}
				}
				&body{
					display: flex;
					margin-top: 30px;
				}
				&item{
					display: block;
					padding: 15px;
					&:hover{
						border-radius: 5px;
						background-color: #ddebf2;
					}
					&:not(:last-child){
						margin-right: 40px;
					}
				}
			}
		}
	}
}
