[class^='i-'],
[class*=' i-']{
	display: inline-flex;
}
[class^='i-']::before,
[class*=' i-']::before{
	content: '';
	background-image: url(assets/img/icons.png);
}
.i-arrow-one:before {
	width: 32px;
	height: 21px;
	background-position: -106px -66px;
}
.i-cart-2:before {
	width: 31px;
	height: 31px;
	background-position: -40px -100px;
}
.i-cart-fast:before {
	width: 22px;
	height: 14px;
	background-position: -175px -66px;
}
.i-cart-small:before {
	width: 18px;
	height: 18px;
	background-position: -163px -100px;
}
.i-cart:before {
	width: 25px;
	height: 25px;
	background-position: -111px -100px;
}
.i-check-green:before {
	width: 15px;
	height: 11px;
	background-position: -37px -140px;
}
.i-check-orange:before {
	width: 15px;
	height: 11px;
	background-position: -57px -140px;
}
.i-check-small:before {
	width: 11px;
	height: 9px;
	background-position: -77px -140px;
}
.i-check:before {
	width: 17px;
	height: 12px;
	background-position: -224px -66px;
}
.i-clock:before {
	width: 15px;
	height: 15px;
	background-position: -248px -100px;
}
.i-delivery-orange:before {
	width: 17px;
	height: 12px;
	background-position: -202px -66px;
}
.i-delivery-small:before {
	width: 27px;
	height: 14px;
	background-position: -143px -66px;
}
.i-delivery:before {
	width: 55px;
	height: 29px;
	background-position: 0px -66px;
}
.i-logo-footer:before {
	width: 266px;
	height: 17px;
	background-position: 0px 0px;
}
.i-logo-header:before {
	width: 266px;
	height: 17px;
	background-position: 0px -44px;
}
.i-logo:before {
	width: 266px;
	height: 17px;
	background-position: 0px -22px;
}
.i-mail-small:before {
	width: 16px;
	height: 11px;
	background-position: -246px -66px;
}
.i-mail:before {
	width: 41px;
	height: 29px;
	background-position: -60px -66px;
}
.i-man:before {
	width: 30px;
	height: 30px;
	background-position: -76px -100px;
}
.i-phone-small:before {
	width: 13px;
	height: 17px;
	background-position: 0px -140px;
}
.i-phone:before {
	width: 17px;
	height: 22px;
	background-position: -141px -100px;
}
.i-return-small:before {
	width: 15px;
	height: 15px;
	background-position: -228px -100px;
}
.i-return:before {
	width: 35px;
	height: 35px;
	background-position: 0px -100px;
}
.i-search:before {
	width: 14px;
	height: 14px;
	background-position: -18px -140px;
}
.i-star-active:before {
	width: 16px;
	height: 16px;
	background-position: -186px -100px;
}
.i-star:before {
	width: 16px;
	height: 16px;
	background-position: -207px -100px;
}
