.contacts{
	padding-bottom: 40px;
	box-shadow: 0 2px 0 #e8e9ea;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			margin-top: 50px;
			text-align: center;
			font-size: 24px;
		}
		&body{
			padding-left: 100px;
			margin-top: 50px;
		}
		&inline{
			display: flex;
			margin-top: 25px;
		}
		&radio{
			display: none;
		}
		&label{
			position: relative;
			padding-left: 30px;
			font-family: "Open Sans";
			font-size: 18px;
			&:not(:last-child){
				margin-right: 40px;
			}
			&:before{
				box-sizing: border-box;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);

				content: "";
				width: 20px;
				height: 20px;
				padding: 4px;
				border-radius: 50%;
				border: 2px solid #c9c9c9;

				background-clip: content-box;
			}
		}
		&radio:checked + &label:before{
			background-color: #9f9f9f;
		}
		&radio:not(:checked) + &label{
			cursor: pointer;
		}
		&input{
			display: block;
			box-sizing: border-box;
			width: 280px;
			height: 50px;
			padding: 0 15px;
			margin-right: 10px;
			border: 2px solid #e5e5e5;
			background-color: #fff;
			font-family: "Open Sans";
			font-size: 16px;
			&::placeholder{
				opacity: 1;
				color: #646464;
				font-family: "Open Sans";
				font-size: 18px;
			}

			&--{
				&small{
					width: 200px;
				}
				&less{
					width: 120px;
				}
			}
		}
		&select{
			box-sizing: border-box;
			min-width: 160px;
			height: 50px;
			padding: 0 15px;
			margin-right: 10px;
			border: 2px solid #e5e5e5;
			background-color: #fff;
			color: #646464;
			font-family: "Open Sans";
			font-size: 18px;
		}
	}
}
