<div class="contacts">
	<div class="contacts__title">Ваше имя и адрес доставки</div>
	<div class="contacts__body">
		<div class="contacts__inline">
			<div class="contacts__field">
				<input type="radio" id="fiz" name="type" class="contacts__radio" /><label for="fiz" class="contacts__label">Частное лицо</label>
				<input type="radio" id="ur" name="type" class="contacts__radio" /><label for="ur" class="contacts__label">Компания</label>
			</div>
		</div>
		<div class="contacts__inline">
			<input type="text" class="contacts__input" placeholder="Имя"/>
			<input type="text" class="contacts__input" placeholder="Фамилия"/>
			<input type="text" class="contacts__input" placeholder="Отчество"/>
		</div>
		<div class="contacts__inline">
			<select name="city" id="city" class="contacts__select">
				<option value="" selected>Страна</option>
				<option value="Москва">Москва</option>
				<option value="Смоленск">Смоленск</option>
				<option value="Самара">Самара</option>
			</select>
			<input type="text" class="contacts__input contacts__input--small" placeholder="Город доставки"/>
			<input type="text" class="contacts__input contacts__input--small" placeholder="Улица"/>
			<input type="text" class="contacts__input contacts__input--less" placeholder="Дом"/>
			<input type="text" class="contacts__input contacts__input--less" placeholder="Квартира"/>
			<input type="text" class="contacts__input contacts__input--less" placeholder="Индекс"/>
		</div>
	</div>
</div>
