.counter{
	display: flex;
	align-items: center;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&action{
			width: 25px;
			line-height: 20px;
			text-align: center;
			font-size: 20px;
			font-weight: 700;
			background-color: hsl(202, 41%, 89%);
			color: #80919b;
			cursor: pointer;
			user-select: none;
		}
		&input{
			width: 40px;
			height: 30px;
			margin: 0 5px;
			box-sizing: border-box;
			border: none;
			text-align: center;
			font-family: "Open Sans";
			font-size: 14px;
			color: #000;
			box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
			&::placeholder{
				opacity: 1;
			}
		}
		&minus{
			position: relative;
			color: transparent;
			&:before{
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				width: 10px;
				height: 2px;

				background-color: #80919b;
			}
		}
	}
}
