.error{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&body{
			position: relative;
		}
		&img{
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
		}
		&title{
			font-size: 36px;
		}
		&text{
			margin-top: 90px;
			font-size: 30px;
			line-height: 48px;
		}
		&link{
			color: hsl(197, 100%, 47%);
			&:hover{
				text-decoration: none;
			}
		}
	}
}
