<div class="error">
	<div class="error__body">
		<div class="error__img">
			<img src=":410x375" alt="" />
		</div>
		<div class="error__title">Ошибка 404 — Страница не найдена</div>
		<div class="error__text">
			Вы можете воспользоваться поиском выше <br>или перейти на <a href="#" class="error__link">Главную</a>
		</div>
	</div>
</div>
