.footer{
	margin-top: 50px;
	padding: 40px 0 25px;
	background-color: hsl(0, 0%, 94%);
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&body{
			@extend .b-grid;
			justify-content: space-between;
		}
		&info{
			font-size: 12px;
			font-weight: 600;
			&-{
				&item{
					&:not(:first-child){
						margin-top: 10px;
					}
				}
			}
		}
		&copyright{
			margin-top: 15px;
			font-size: 12px;
			font-weight: 600;
			color: hsl(0, 0%, 51%);
			&-{
				&text{
					margin-top: 40px;
					font-size: 12px;
					font-weight: 600;
					line-height: 21px;
					color: hsl(0, 0%, 51%);
				}
			}
		}
	}
}
