<footer class="g-section footer">
	<div class="g-section__content ">
		<div class="footer__body">
			<div class="footer__left">
				<div class="footer__logo">
					<i class="i-logo-footer"></i>
				</div>
				<div class="footer__copyright">© 2017 «nabor-instrumenta.ru»</div>
			</div>
			<div class="footer__center">
				<import src="links" class=" links--footer"></import>
				<import src="communication--footer"></import>
			</div>
			<div class="footer__right">
				<div class="footer__info">
					<div class="footer__info-item">Почта - nabor@instrumenta.ru</div>
					<div class="footer__info-item">Телефон - +7 (099) 123-45-67</div>
					<div class="footer__info-item">График: Пн—Вс: 07:00 - 22:00</div>
				</div>
			</div>
		</div>
		<div class="footer__copyright-text">Вся информация на сайте – собственность интернет-магазина nabor-instrumenta.ru. Публикация информации с сайта vseinstrumenti.ru без разрешения запрещена. Все права защищены. Информация на сайте www.vseinstrumenti.ru не является публичной офертой. Указанные цены действуют только при оформлении заказа через интернет-магазин nabor-instrumenta.ru. Цены в пунктах выдачи заказов и розничных магазинах компании ВсеИнструменты.ру могут отличаться от указанных на сайте.</div>
	</div>
</footer>
