.g-page{
	min-width: 1280px;
	font-size: $font-size;
	font-family: $font-family--primary;
	overflow-x: hidden;
	&__{
		&body{
			min-height: 100vh;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
