@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url('assets/fonts/open-sans-v13-latin_cyrillic-regular.woff2') format('woff2'),
		url('assets/fonts/open-sans-v13-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
		url('assets/fonts/open-sans-v13-latin_cyrillic-600.woff2') format('woff2'),
		url('assets/fonts/open-sans-v13-latin_cyrillic-600.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('assets/fonts/open-sans-v13-latin_cyrillic-700.woff2') format('woff2'),
		url('assets/fonts/open-sans-v13-latin_cyrillic-700.woff') format('woff');
}
