<div class="cart-info">
	<div class="cart-info__icon">
		<i class="i-cart"></i>
	</div>
	<div class="cart-info__info">
		<a href="#" class="cart-info__amount">3 товара</a>
		<div class="cart-info__price">
			на
			<span class="cart-info__price-number">1859</span>
			руб.
		</div>
	</div>
</div>
