.cart-info{

	@extend .b-grid;

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&icon{
			@extend .b-grid;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: 58px;
			background-color: #f74212;
		}
		&info{
			box-sizing: border-box;
			@extend .b-grid;
			flex-direction: column;
			justify-content: center;
			padding-left: 15px;
			width: 140px;
			box-shadow: inset 0 0 0 1px hsl(0, 0%, 90%);
		}
		&amount{
			display: block;
			font-size: 13px;
			font-weight: 600;
			color: hsl(197, 100%, 47%);
			&:hover{
				text-decoration: none;
			}
		}
		&price{
			margin-top: 5px;
			font-size: 13px;
			font-weight: 600;
		}
	}
}
