<div class="result">
	<h1 class="result__title">Результаты поиска</h1>
	<h2 class="result__subtitle">Результаты поиска <span class="result__number">— 3</span></h2>

	<div class="cart__products">
		<div class="cart__product cart__product--long" repeat="3">
			<div class="cart__product-left cart__product-left--flex">
				<div class="cart__product-preview">
					<img src=":70x60" alt="" />
				</div>
				<div class="cart__box">
					<div class="cart__product-article">Арт. № 123456 | Набор инструмента в кейсе</div>
					<div class="cart__product-title">
						<div class="cart__product-name">VIRA 305075</div>
						<div class="cart__product-description">118 предметов</div>
					</div>
				</div>
			</div>
			<div class="cart__product-right">
				<import src="price" class=" cart__price"></import>
			</div>
		</div>
	</div>
</div>
