.result{
	margin-top: 50px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			font-size: 36px;
			text-align: center;
		}
		&subtitle{
			margin-top: 15px;
			margin-bottom: 60px;
			font-size: 24px;
			text-align: center;
		}
		&number{
			font-weight: 700;
		}
	}
}
