.feedback{
	margin-top: 30px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			font-weight: 600;
		}
		&recall{
			display: flex;
			align-items: center;
			margin-top: 15px;
			&-{
				&text{
					margin-right: 10px;
					font-size: 14px;
				}
			}
		}
		&body{
			margin-top: 15px;
		}
		&textarea{
			box-sizing: border-box;
			width: 100%;
			max-width: 100%;
			padding: 10px 15px;
			margin-bottom: 10px;
			border: none;
			font-family: "Open Sans";
			font-size: 13px;
			font-weight: 400;
			box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
		}
		&button{
			box-sizing: border-box;
			width: 100%;
			height: 40px;
			border: none;
			background-color: hsl(209, 73%, 50%);
			font-size: 14px;
			font-weight: 600;
			color: #fff;
		}
	}
}
