<form action="action.php" class="feedback">
	<div class="feedback__title">Оставить свой отзыв</div>
	<div class="feedback__recall">
		<div class="feedback__recall-text">Ваша оценка</div>
		<div class="feedback__recall-stars">
			<i class="i-star feedback__star"></i>
			<i class="i-star feedback__star"></i>
			<i class="i-star feedback__star"></i>
			<i class="i-star feedback__star"></i>
			<i class="i-star feedback__star"></i>
		</div>
	</div>
	<div class="feedback__body">
		<textarea name="plus" id="plus" cols="30" rows="2" class="feedback__textarea" placeholder="Достоинства"></textarea>
		<textarea name="minus" id="minus" cols="30" rows="2" class="feedback__textarea" placeholder="Недостатки"></textarea>
		<textarea name="comment" id="comment" cols="30" rows="3" class="feedback__textarea" placeholder="Коментарий"></textarea>
		<button class="feedback__button">Оставить отзыв</button>
	</div>
</form>
