<div class="product">
	<div class="product__head">
		<div class="product__head-left">
			<h3 class="product__article">Арт. № 123456 | Набор инструмента в кейсе</h3>
			<div class="product__title">
				<h1 class="product__name">Inforce</h1>
				<h2 class="product__description">36 предметов</h2>
			</div>
		</div>
		<div class="product__head-right">
			<div class="product__box product__box--small">
				<div class="product__inline">
					<import src="counter"></import>
					<import src="price"></import>
				</div>
				<div class="product__button">
					<div class="product__button-icon"><i class="i-cart"></i></div>
					<div class="product__button-text">В корзину</div>
				</div>
			</div>
			<div class="product__box">
				<div class="product__delivery">
					<i class="i-delivery-small product__delivery-icon"></i>
					<div class="product__delivery-text">Доставка от 300р в <br>любой город</div>
				</div>
				<div class="product__fast">
					<div class="product__fast-icon"><i class="i-cart-fast"></i></div>
					<div class="product__fast-text">Быстрая покупка</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product__body">
		<import src="carousel-product"></import>
		<p class="product__text">Набор автослесарного инструмента Inforce 82 предмета 06-01-01 оснащен множеством изделий, которые подойдут для работы с крепежом и деталями автомобиля. Все инструменты выполнены из хромованадиевой стали - 6150 CRV. Трещотки с посадочными квадратами 1/2" и 1/4" оснащены большим количеством зубьев и мелким шагом перещелкивания для удобной работы. Набор поставляется в кейсе, выполненном из экологичного пластика.</p>
		<div class="product__charecteristics">
			<div class="product__box">
				<div class="product__charecteristics-title">Техн. характеристики Inforce 06-01-01</div>
				<div class="product__charecteristics-item">Количество в наборе, шт. 82</div>
				<div class="product__charecteristics-item">Количество в наборе, шт. 82</div>
			</div>
			<div class="product__box product__box--big">
				<div class="product__charecteristics-title">Техн. характеристики Inforce 06-01-01</div>
				<div class="product__charecteristics-item">Количество в наборе, шт. 82</div>
				<div class="product__charecteristics-item">Количество в наборе, шт. 82</div>
			</div>
		</div>
		<div class="product__equipment">
			<div class="product__equipment-title">Комплектация</div>
			<div class="product__equipment-subtitle">1/4"</div>
			<ul class="product__equipment-list">
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
			</ul>
			<div class="product__equipment-subtitle">1/4"</div>
			<ul class="product__equipment-list">
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
				<li>Шестигранные головки, 12 шт - 4, 4.5, 5, 5.5, 6, 7, 8</li>
			</ul>
		</div>
	</div>
	<div class="product__with">
		<div class="product__with-title">С этим покупают</div>
	</div>
</div>
