.product{

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&head{
			display: flex;
			justify-content: space-between;
			padding-bottom: 20px;
			box-shadow: 0 2px 0 0 #e8e9ea;
			&-{
				&right{
					display: flex;
				}
			}
		}
		&title{
			display: flex;
			align-items: flex-end;
		}
		&article{
			margin-top: 20px;
			font-size: 14px;
			font-weight: 700;
			color: hsl(0, 0%, 42%);
		}
		&name{
			font-size: 48px;
			font-weight: 600;
		}
		&description{
			margin-left: 15px;
			font-size: 30px;
		}
		&inline{
			display: flex;
			justify-content: space-between;
		}
		&box{
			&--small{
				margin-right: 15px;
			}
			&--big{
				margin-left: 100px;
			}
		}
		&button{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 220px;
			height: 46px;
			background-color: hsl(209, 73%, 50%);
			color: #fff;
			font-weight: 600;
			&-{
				&text{
					margin-left: 10px;
				}
			}
		}
		&delivery{
			display: flex;
			align-items: center;
			height: 42px;
			&-{
				&icon{
					margin-right: 3px;
					transform: scale(0.7);
				}
				&text{
					font-size: 12px;
					font-weight: 600;
				}
			}
		}
		&fast{
			display: flex;
			justify-content: center;
			align-items: center;

			height: 46px;
			background-color: hsl(231, 100%, 60%);
			&-{
				&text{
					margin-left: 7px;
					font-size: 12px;
					font-weight: 600;
					color: #fff;
				}
			}
		}
		&text{
			margin-top: 40px;
		}
		&charecteristics{
			display: flex;
			margin-top: 50px;
			&-{
				&title{
					margin-bottom: 20px;
					font-weight: 600;
				}
				&item{
					line-height: 36px;
					&:not(:last-child){
						box-shadow: 0 1px 0 0 hsl(0, 0%, 90%);
					}
				}
			}
		}
		&equipment{
			margin-top: 60px;
			&-{
				&title{
					margin-bottom: 25px;
					font-weight: 600;
				}
				&subtitle{
					line-height: 36px;
					box-shadow: 0 1px 0 0 hsl(0, 0%, 90%);
				}
				&list{
					margin-top: 5px;
					font-size: 14px;
					line-height: 24px;
					li{
						position: relative;
						padding-left: 10px;
						&:before{
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							transform: translate(0, -50%);
							width: 3px;
							height: 3px;
							background-color: #000;
						}
					}
				}
			}
		}
		&with{
			margin-top: 65px;
			&-{
				&title{
					font-size: 24px;
					font-weight: 600;
				}
			}
		}
	}
}
