.price{
	display: flex;
	justify-content: center;
	min-width: 100px;
	line-height: 40px;
	background-color: hsl(0, 0%, 94%);
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&number{
			font-size: 18px;
			font-weight: 600;
		}
		&value{
			margin-left: 5px;
			font-size: 18px;
		}
	}
}
