<header class="g-section header">
	<div class="g-section__content header__content">
		<div class="header__logo"><i class="i-logo"></i></div>
		<div class="header__search">
			<import src="search"></import>
		</div>
		<div class="header__cart">
			<import src="cart-info"></import>
		</div>
	</div>
</header>
