.header{
	margin: 35px 0 25px;
	padding-bottom: 35px;
	box-shadow: 0 2px 0 0 #e8e9ea;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			@extend .b-grid;
			justify-content: space-between;
			align-items: center;
		}
	}
}
