.recall{
	margin-top: 30px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			font-size: 24px;
			font-weight: 600;
		}
		&body{
			padding: 15px;
			margin-top: 15px;
			background-color: hsl(86, 70%, 94%);
		}
		&head{
			position: relative;
			margin-left: 30px;
		}
		&stars{
			display: flex;
			position: absolute;
			top: 0;
			right: 100%;
			margin-right: 7px;
			font-size: 14px;
			font-weight: 700;
			color: hsl(13, 93%, 52%);
			&-{
				&icon{
					margin-right: 2px;
					transform: scale(0.8);
				}
			}
		}
		&date{
			margin-top: 5px;
			font-size: 12px;
			color: hsl(0, 0%, 51%);
		}
		&item{
			&:not(:last-child){
				padding-bottom: 20px;
				margin-bottom: 20px;
				box-shadow: 0 1px 0 0 hsl(86, 28%, 80%);
			}
			&-{
				&title{
					margin-top: 20px;
					font-weight: 600;
				}
				&text{
					margin-top: 10px;
				}
			}
		}
	}
}
