<div class="recall">
	<div class="recall__title">Отзывы о товаре</div>
	<div class="recall__body">
		<div class="recall__item" repeat="2">
			<div class="recall__head">
				<div class="recall__name">Атаманов Роман</div>
				<div class="recall__date">29 октября 2016</div>
				<div class="recall__stars">
					<i class="i-star-active recall__stars-icon"></i> 4
				</div>
			</div>
			<div class="recall__item-title">Достоинства</div>
			<div class="recall__item-text">хорошая цена, и отличный набор.</div>
			<div class="recall__item-title">Комментарий</div>
			<div class="recall__item-text">хорошая цена, и отличный набор.</div>
		</div>
	</div>
</div>
