<div class="g-section content">
	<div class="g-section__content content__content">
		<div class="content__aside">
			<import src="producers"></import>
			<import src="recall"></import>
			<import src="feedback"></import>
		</div>
		<div class="content__main">
			<import src="breadcrumbs"></import>
			<import src="product"></import>
			<import src="catalog--mini"></import>
		</div>
	</div>
</div>
