.content{
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			@extend .b-grid;
			justify-content: space-between;
		}
		&aside{
			width: 270px;
			min-width: 270px;
			margin-right: 40px;
		}
		&main{
			width: calc(100% - 310px);
		}
	}
}
