<div class="g-section content">
	<div class="g-section__content content__content">
		<div class="content__aside">
			<import src="producers"></import>
		</div>
		<div class="content__main">
			<import src="seo"></import>
			<import src="filter"></import>
			<import src="catalog"></import>
			<import src="pages"></import>
		</div>
	</div>
</div>
