<div class="g-section content">
	<div class="g-section__content content__content">
		<div class="content__aside">
			<import src="producers"></import>
			<import src="recall"></import>
			<import src="feedback"></import>
		</div>
		<div class="content__main">
			<import src="carousel-main"></import>
			<import src="catalog"></import>
			<import src="links-main"></import>
			<import src="catalog"></import>
			<import src="seo"></import>
			<import src="filter"></import>
			<import src="pages"></import>
			<import src="breadcrumbs"></import>
			<import src="product"></import>
		</div>
	</div>
</div>
