<div class="g-section content">
	<div class="g-section__content content__content">
		<div class="content__aside">
			<import src="producers"></import>
		</div>
		<div class="content__main">
			<import src="carousel-main"></import>
			<import src="catalog"></import>
			<import src="links-main"></import>
			<import src="catalog--mini"></import>
		</div>
	</div>
</div>
