.breadcrumbs{
	display: flex;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&link{
			position: relative;
			display: block;
			padding-right: 20px;
			font-size: 14px;
			color: hsl(197, 100%, 47%);
			&:before{
				display: inline-block;
				content: "";

				position: absolute;
				top: 27%;
				right: 5px;
				transform: rotate(45deg);

				width: 8px;
				height: 1px;
				background-color: #000;
			}
			&:after{
				display: inline-block;
				content: "";

				position: absolute;
				bottom: 27%;
				right: 5px;
				transform: rotate(-45deg);

				width: 8px;
				height: 1px;
				background-color: #000;
			}
			&:hover{
				text-decoration: none;
			}
		}
		&actual{
			font-size: 14px;
		}
	}
}
