.links-main{
	@extend .b-grid;
	justify-content: space-between;

	margin-top: 20px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&item{
			@extend .b-grid;
			justify-content: center;
			align-items: center;
			width: 32%;
			min-height: 75px;
			background-color: hsl(0, 0%, 95%);
			box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
		}
		&link{
			margin-left: 25px;
			color: hsl(197, 100%, 47%);
			&:hover{
				text-decoration: none;
			}
		}
	}
}
