<div class="links-main">
	<div class="links-main__item">
		<div class="links-main__icon">
			<i class="i-delivery"></i>
		</div>
		<a href="#" class="links-main__link">Оплата и доставка</a>
	</div>
	<div class="links-main__item">
		<div class="links-main__icon">
			<i class="i-return"></i>
		</div>
		<a href="#" class="links-main__link">Возврат</a>
	</div>
	<div class="links-main__item">
		<div class="links-main__icon">
			<i class="i-mail"></i>
		</div>
		<a href="#" class="links-main__link">Обратная связь</a>
	</div>
</div>
