.head{
	background-color: hsl(0, 0%, 94%);

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			position: relative;
			@extend .b-grid;
			justify-content: center;
			align-items: center;
			padding: 10px 0;
		}
		&communication{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}
}
