<div class="g-section head">
	<div class="g-section__content head__content">
		<import src="links"></import>
		<div class="head__communication">
			<import src="communication"></import>
		</div>
	</div>
</div>
