.phone{

	margin-bottom: 3px;
	text-decoration: none;
	font-weight: 700;
	color: #000;
	// pseudo-classes

	// mods
	&--{
		&footer{
			font-size: 24px;
		}
	}
	// pseudo-elements

	// elements
	&__{

	}
}
