<div class="cap">
	<div class="cap__header">
		<div class="cap__logo">
			<i class="i-logo-header"></i>
		</div>
	</div>
	<div class="cap__body">
		<div class="cap__title">
			<div class="cap__title-img">
				<img src=":130x150" alt="" />
			</div>
			<div class="cap__title-text">Сайт в разработке</div>
		</div>
		<div class="cap__text">Очень скоро здесь можно будет приобрести <br>качественные автоинструменты по отличным ценам.</div>
		<form action="action.php" class="cap__form">
			<div class="cap__form-title">Напишите мне, когда откроетесь</div>
			<div class="cap__inline">
				<input type="text" class="cap__input" placeholder="Ваш e-mail"/>
				<button class="cap__button">
					<span class="cap__button-icon i-check-small"></span> Оповестить меня
				</button>
			</div>
		</form>
	</div>
	<div class="cap__footer">
		<div class="cap__logo">
			<i class="i-logo-footer"></i>
		</div>
	</div>
</div>
