.cap{
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&header{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 10%;
			background-color: hsl(13, 92%, 59%);
		}
		&body{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		&footer{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 15%;
			background-color: hsl(0, 0%, 94%);
		}
		&title{
			display: flex;
			align-items: center;
			&-{
				&img{
					margin-right: 60px;
				}
				&text{
					font-size: 48px;
					color: hsl(13, 93%, 52%);
				}
			}
		}
		&text{
			width: 100%;
			padding-bottom: 7vh;
			margin-top: 5vh;
			font-size: 36px;
			line-height: 60px;
			text-align: center;
			box-shadow: 0 2px 0 0 #f1f2f3;
		}
		&form{
			margin-top: 50px;
			font-size: 24px;
		}
		&inline{
			display: flex;
			margin-top: 15px;
		}
		&input{
			box-sizing: border-box;
			border: 0;
			width: 560px;
			height: 44px;
			padding: 0 15px;
			font-family: "Open Sans";
			font-size: 13px;
			box-shadow: inset 0 0 0 1px hsl(0, 0%, 34%);
			&::placeholder{
				opacity: 1;
			}
		}
		&button{
			box-sizing: border-box;
			border: 0;
			width: 200px;
			height: 44px;
			margin-left: 10px;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			background-color: hsl(209, 73%, 50%);
			cursor: pointer;
			&-{
				&icon{
					margin-right: 5px;
				}
			}
		}
	}
}
