<div class="carousel-main">
	<div class="carousel-main__arrow carousel-main__arrow--left swiper-button-prev"></div>
	<div class="carousel-main__content swiper-container">
		<div class="carousel-main__body swiper-wrapper">
			<div class="carousel-main__banner swiper-slide" repeat="6">
				<img src=":370x150" alt="" />
			</div>
		</div>
	</div>
	<div class="carousel-main__arrow carousel-main__arrow--right swiper-button-next"></div>
</div>
