.carousel-main{
	@extend .b-grid;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			max-width: calc(100% - 104px);
			overflow: hidden;
		}
		&body{
			@extend .b-grid;
			overflow: hidden;
		}
		&arrow{
			position: relative;
			@extend .b-grid;
			justify-content: center;
			align-items: center;
			width: 32px;
			min-width: 32px;
			cursor: pointer;
			&:hover:before{
				background-color: hsl(86, 62%, 52%);
			}
			&:hover:after{
				background-color: hsl(86, 62%, 52%);
			}
			&--{
				&left{
					margin-right: 20px;
					transform: rotate(180deg);
				}
				&right{
					margin-left: 20px;
				}
			}
			&:before{
				content: "";
				position: absolute;
				top: 57%;
				left: -5px;
				width: 40px;
				height: 4px;
				background-color: #000;
				transform: rotate(-45deg);
			}
			&:after{
				content: "";
				position: absolute;
				bottom: 57%;
				left: -5px;
				width: 40px;
				height: 4px;
				background-color: #000;
				transform: rotate(45deg);
			}
		}
		&banner{
			&:not(:last-child){
				margin-right: 20px;
			}
		}
	}
}
