<div class="product-mini">
	<div class="product-mini__preview">
		<img src=":170x120" alt="" />
	</div>
	<div class="product-mini__info">
		<div class="product-mini__name">Набор инструмента в кейсе</div>
		<a href="#" class="product-mini__title">VIRA 305075</a>
		<div class="product-mini__description">118 предметов</div>
	</div>
	<div class="product-mini__price">
		<div class="product-mini__price-old">3 599 <span>р</span></div>
		<div class="product-mini__price-new">2 063 <span>р</span></div>
	</div>
	<div class="product-mini__button">
		<div class="product-mini__button-icon">
			<i class="i-cart-small"></i>
		</div>
		<div class="product-mini__button-text">В корзину</div>
	</div>
</div>
