.product-mini{
	position: relative;
	width: calc(25% - 20px);
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: inset 0 0 0 1px hsl(0, 0%, 90%);
	// pseudo-classes

	// mods
	&--{
		&not{
			.product-mini{
				&__{
					&name{
						color: hsl(0, 0%, 77%);
					}
					&title{
						color: hsl(0, 0%, 77%);
					}
					&description{
						color: hsl(0, 0%, 77%);
					}
					&price{
						color: hsl(0, 0%, 77%);
					}
					&button{
						background-color: hsl(0, 0%, 70%);
					}
				}
			}
		}
	}
	// pseudo-elements

	// elements
	&__{
		&status{
			position: absolute;
			top: 0;
			padding: 0 6px;

			font-size: 12px;
			font-weight: 700;
			line-height: 22px;
			text-transform: uppercase;
			color: #fff;
			&--{
				&new{
					right: 0;
					background-color: hsl(201, 66%, 75%);
				}
				&sale{
					left: 0;
					background-color: hsl(86, 62%, 52%);
				}
				&not{
					right: 0;
					background-color: hsl(0, 0%, 84%);
				}
			}
		}
		&preview{
			@extend .b-grid;
			justify-content: center;
			align-items: center;

			min-height: 160px;
		}
		&info{
			margin: 0 15px;
		}
		&name{
			font-size: 11px;
			font-weight: 700;
			color: hsl(0, 0%, 42%);
		}
		&title{
			display: block;
			margin-top: 7px;
			font-size: 18px;
			font-weight: 600;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
		}
		&description{
			margin-top: 3px;
		}
		&price{
			min-height: 40px;
			@extend .b-grid;
			justify-content: center;
			align-items: center;

			margin-top: 15px;
			background-color: hsl(0, 0%, 94%);
			&-{
				&new{
					font-size: 18px;
					font-weight: 600;
					span{
						font-weight: 400;
					}
				}
				&old{
					margin-right: 7px;
					font-size: 13px;
					text-decoration: line-through;
				}
			}
		}
		&button{
			min-height: 44px;
			@extend .b-grid;
			justify-content: center;
			align-items: center;
			background-color: hsl(209, 73%, 50%);
			text-decoration: none;
			cursor: pointer;
			&--{
				&added{
					background-color: hsl(86, 62%, 52%);
				}
			}
			&-{
				&icon{

				}
				&text{
					margin-left: 10px;
					font-size: 14px;
					font-weight: 600;
					color: #fff;
				}
			}
		}
	}
}
