<nav class="links">
	<a href="#" class="links__link">
		<span class="links__link-icon">
			<i class="i-delivery-small"></i>
		</span>
		<span class="links__link-text">Оплата и доставка</span>
	</a>
	<a href="#" class="links__link">
		<span class="links__link-icon">
			<i class="i-return-small"></i>
		</span>
		<span class="links__link-text">Возврат</span>
	</a>
	<a href="#" class="links__link">
		<span class="links__link-icon">
			<i class="i-mail-small"></i>
		</span>
		<span class="links__link-text">Обратная связь</span>
	</a>
</nav>
