.links{

	@extend .b-grid;
	align-items: center;
	// pseudo-classes

	// mods
	&--{
		&footer{
			.links__link{
				&:not(:last-child){
					margin-right: 25px;
				}
			}
		}
	}
	// pseudo-elements

	// elements
	&__{
		&link{
			@extend .b-grid;
			text-decoration: none;
			&:not(:last-child){
				margin-right: 16px;
			}
			&:hover &-text{
				text-decoration: none;
			}
			&-{
				&text{
					display: block;
					margin-left: 10px;
					font-size: 13px;
					font-weight: 600;
					color: hsl(197, 100%, 47%);
					text-decoration: underline;
				}
			}
		}
	}
}
