.communication{
	@extend .b-grid;
	align-items: center;
	&__{
		&text{
			margin-right: 7px;
			font-size: 14px;
		}
		&icon{
			margin-right: 3px;
		}
	}
	&--footer{
		.communication__text{
			margin-right: 20px;
			font-size: 18px;
		}
		margin-top: 20px;
	}
}
