<div class="communication communication--footer">
	<div class="communication__text">Остались вопросы? </div>
	<div class="communication__icon">
		<i class="i-phone-small"></i>
	</div>
	<import src="phone" class=" phone--footer"></import>
</div>
