<div class="communication">
	<div class="communication__text">Остались вопросы? </div>
	<div class="communication__icon">
		<i class="i-phone-small"></i>
	</div>
	<import src="phone"></import>
</div>
