<div class="cabinet">
	<div class="cabinet__head">
		<div class="cart__title">
			<div class="cart__title-icon"><i class="i-man"></i></div>
			<h1 class="cart__title-text">Личный кабинет</h1>
		</div>
		<div class="cabinet__wrap">
			<div class="cabinet__info">
				<div class="cabinet__info-text">Информация</div>
				<div class="cabinet__info-edit">изменить</div>
			</div>
			<div class="cabinet__name">
				<div class="cabinet__name-type">Имя:</div>
				<div class="cabinet__name-text">Иван Петров</div>
			</div>
			<div class="cabinet__status">Частное лиц</div>
		</div>
	</div>
	<div class="cabinet__history">
		<import src="history"></import>
	</div>
</div>
