.cabinet{
	margin-top: 55px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&head{
			padding-bottom: 40px;
			box-shadow: 0 2px 0 0 #f6f7f7;
		}
		&wrap{
			width: 500px;
			margin: 50px auto 0;
		}
		&info{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			&-{
				&text{
					font-size: 24px;
				}
				&edit{
					margin-left: 10px;
					font-size: 18px;
					color: #52baef;
					border-bottom: 1px dashed #52baef;
				}
			}
		}
		&name{
			display: flex;
			margin-top: 30px;
			font-size: 18px;
			&-{
				&type{
					margin-right: 5px;
					color: #646464;
				}
			}
		}
		&status{
			margin-top: 10px;
			font-size: 14px;
			color: #646464;
		}
	}
}
