.order{
	display: flex;
	justify-content: space-between;

	&:not(:last-child){
		margin-bottom: 10px;
	}

	border: 1px solid #e5e5e5;
	// pseudo-classes

	// mods
	&--{
		&end{
			.order__date{
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0;
			}
			.order__status{
				color: #66bd00;
			}
		}
		&way{
			.order__status{
				color: #d69200;
			}
		}
		&sent{
			.order__status{
				color: #d69200;
			}
		}
	}
	// pseudo-elements

	// elements
	&__{
		&number{
			padding: 30px 15px;
			font-size: 14px;
			font-weight: 700;
			color: #6a6a6a;
		}
		&date{
			padding: 30px 0;
			font-size: 14px;
			font-weight: 700;
			color: #6a6a6a;
			&-{
				&item{
					&:not(:last-child){
						margin-bottom: 7px;
					}
				}
				&number{
					margin-top: 2px;
				}
			}
		}
		&info{
			width: 55%;
			padding: 25px 15px;
			border-left: 1px solid #e5e5e5;
		}
		&value{
			font-size: 14px;
			font-weight: 700;
			color: #6a6a6a;
		}
		&product{
			display: flex;
			align-items: flex-end;

			margin: 15px 0;
			&-{
				&name{
					margin-right: 10px;
					font-size: 18px;
					font-weight: 600;
				}
			}
		}
		&address{
			display: flex;
			align-items: flex-end;
			margin-top: 10px;
			&-{
				&name{
					margin-right: 5px;
					color: #646464;
				}
			}
		}
		&price{
			margin: 25px 0;
			width: 112px;
		}
		&status{
			width: 150px;
			display: flex;
			justify-content: center;
			align-items: center;

			border-left: 1px solid #e5e5e5;
			&-{
				&icon{
					margin-right: 10px;
				}
				&text{
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}
}
