<div class="order">
	<div class="order__number">Заказ №<br>123456</div>
	<div class="order__date">Отправлен: <div class="order__date-number">11.02.2017</div></div>
	<div class="order__info">
		<div class="order__value">1 товар</div>
		<div class="order__address">
			<div class="order__address-name">Адрес доставки:</div>
			<div class="order__address-text">г. Волгоград, пр. Ленина, д. 27, кв. 15, 51900</div>
		</div>
	</div>
	<div class="order__price">
		<import src="price"></import>
	</div>
	<div class="order__status">
		<div class="order__status-icon"><i class="i-clock"></i></div>
		<div class="order__status-text">в обработке</div>
	</div>
</div>
<div class="order order--sent">
	<div class="order__number">Заказ №<br>123456</div>
	<div class="order__date">Отправлен: <div class="order__date-number">11.02.2017</div></div>
	<div class="order__info">
		<div class="order__value">1 товар</div>
		<div class="order__address">
			<div class="order__address-name">Адрес доставки:</div>
			<div class="order__address-text">г. Волгоград, пр. Ленина, д. 27, кв. 15, 51900</div>
		</div>
	</div>
	<div class="order__price">
		<import src="price"></import>
	</div>
	<div class="order__status">
		<div class="order__status-icon"><i class="i-check-orange"></i></div>
		<div class="order__status-text">отправлен</div>
	</div>
</div>
<div class="order order--way">
	<div class="order__number">Заказ №<br>123456</div>
	<div class="order__date">Отправлен: <div class="order__date-number">11.02.2017</div></div>
	<div class="order__info">
		<div class="order__value">1 товар</div>
		<div class="order__product">
			<div class="order__product-name">VIRA 305075</div>
			<div class="order__product-type">118 предметов</div>
		</div>
		<div class="order__product">
			<div class="order__product-name">VIRA 305075</div>
			<div class="order__product-type">118 предметов</div>
		</div>
		<div class="order__product">
			<div class="order__product-name">VIRA 305075</div>
			<div class="order__product-type">118 предметов</div>
		</div>
		<div class="order__address">
			<div class="order__address-name">Адрес доставки:</div>
			<div class="order__address-text">г. Волгоград, пр. Ленина, д. 27, кв. 15, 51900</div>
		</div>
	</div>
	<div class="order__price">
		<import src="price"></import>
	</div>
	<div class="order__status">
		<div class="order__status-icon"><i class="i-delivery-orange"></i></div>
		<div class="order__status-text">в обработке</div>
	</div>
</div>
<div class="order order--end">
	<div class="order__number">Заказ №<br>123456</div>
	<div class="order__date">
		<div class="order__date-item">
			Отправлен: <div class="order__date-number">11.02.2017</div>
		</div>
		<div class="order__date-item">
			Отправлен: <div class="order__date-number">11.02.2017</div>
		</div>
	</div>
	<div class="order__info">
		<div class="order__value">1 товар</div>
		<div class="order__address">
			<div class="order__address-name">Адрес доставки:</div>
			<div class="order__address-text">г. Волгоград, пр. Ленина, д. 27, кв. 15, 51900</div>
		</div>
	</div>
	<div class="order__price">
		<import src="price"></import>
	</div>
	<div class="order__status">
		<div class="order__status-icon"><i class="i-check-green"></i></div>
		<div class="order__status-text">доставлен</div>
	</div>
</div>
