<div class="catalog">
	<import src="product-mini--new"></import>
	<import src="product-mini--sale"></import>
	<import src="product-mini--not"></import>
	<import src="product-mini" repeat="5"></import>
</div>
