.carousel-product{
	display: flex;
	margin-top: 30px;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&mini{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 50px;
			&._active{
				box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
			}
			&:not(._active){
				cursor: pointer;
			}
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
		&img{
			position: relative;
			&:not(._active){
				position: absolute * * * -99999px;
			}
		}
		&main{
			margin-left: 50px;
		}
	}
}
