<div class="carousel-product">
	<div class="carousel-product__items">
		<div class="carousel-product__mini _active">
			<img src=":50x40" alt="" />
		</div>
		<div class="carousel-product__mini" repeat="4">
			<img src=":50x40/f0f" alt="" />
		</div>
	</div>
	<div class="carousel-product__main">
		<img src=":480x350" alt="" class="carousel-product__img _active" />
		<img src=":480x350/f0f" alt="" class="carousel-product__img"  repeat="4"/>
	</div>
</div>
