<form class="search">
	<div class="search__body">
		<input type="text" class="search__input" placeholder="Поиск по сайту" />
		<button class="search__button"><i class="search__icon i-search"></i></button>
	</div>
	<div class="search__live">
		<import src="search-live" repeat="3"></import>
	</div>
</form>
