.search{
	position: relative;
	// pseudo-classes

	// modsr
	&._active &__body{
		border: 1px solid 1px #f74212;
	}
	&._active &__live{
		display: block;
	}
	// pseudo-elements

	// elements
	&__{
		&body{
			box-sizing: border-box;
			@extend .b-grid;
			width: 564px;
			height: 45px;
			padding-left: 15px;
			border: 1px solid 1px hsl(0, 0%, 90%);
		}
		&input{
			opacity: 1;
			display: block;
			border: 0;
			width: 100%;
			font-family: "Open Sans";
			font-size: 13px;
			font-weight: 600;
			outline: none;
			&::placeholder{
				font-size: 14px;
				font-weight: 400;
				opacity: 1;
				color: hsl(0, 0%, 62%);
			}
		}
		&button{
			width: 44px;
			height: 100%;
			display: block;
			border: 0;
			background: none;
			cursor: pointer;
		}
		&live{
			display: none;

			position: absolute;
			top: 100%;
			left: 0;
			right: 0;

			box-sizing: border-box;
			width: 100%;
			padding: 0 15px;
			margin-top: 10px;
			border: 1px solid 1px #f74212;

			background-color: #fff;
		}
	}
}
