.producers{

	box-shadow: 0 0 0 1px hsl(0, 0%, 90%);
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&title{
			@extend .b-grid;
			align-items: center;
			justify-content: center;
			min-height: 36px;
			font-size: 14px;
			font-weight: 600;
			box-shadow: 0 -1px 0 0 hsl(0, 0%, 90%);
		}
		&item{
			&:not(._active){
				cursor: pointer;
				.producers__subitems{
					display: none;
				}
				.producers__item-wrap{
					&:hover{
						background-color: hsl(0, 0%, 95%);
					}
				}
			}
			&-{
				&wrap{
					@extend .b-grid;
					align-items: center;
					justify-content: center;
					min-height: 36px;
					box-shadow: 0 -1px 0 0 hsl(0, 0%, 90%), inset 0 -1px 0 0 hsl(0, 0%, 90%);
				}
				&logo{
					margin-right: 25px;
				}
				&name{
					font-weight: 600;
					text-transform: uppercase;
				}
			}
		}
		&subitems{
			// display: none;
			padding: 5px 20px;
		}
		&subitem{
			display: block;
			margin: 7px 0;
			font-size: 14px;
			text-decoration: none;
			color: hsl(0, 0%, 0%);
			&:hover{
				color: hsl(197, 100%, 47%);
			}
			&:hover &-name{
				color: hsl(197, 100%, 47%);
			}
			&-{
				&name{
					font-size: 12px;
					color: hsl(0, 0%, 40%);
				}
			}
		}
	}
}
