<nav class="producers">
	<div class="producers__title">Производители инструмента</div>
	<div class="producers__item _active">
		<div class="producers__item-wrap">
			<span class="producers__item-logo">
				<img src=":100x30" alt="" />
			</span>
			<span class="producers__item-name">KORUDA</span>
		</div>
		<ul class="producers__subitems">
			<li repeat="5"><a href="#" class="producers__subitem"><span class="producers__subitem-name">Набор</span> 1/2 101пр.</a></li>
		</ul>
	</div>
	<div class="producers__item" repeat="4">
		<div class="producers__item-wrap">
			<span class="producers__item-logo">
				<img src=":100x30" alt="" />
			</span>
			<span class="producers__item-name">KORUDA</span>
		</div>
		<ul class="producers__subitems">
			<li repeat="5"><a href="#" class="producers__subitem"><span class="producers__subitem-name">Набор</span> 1/2 101пр.</a></li>
		</ul>
	</div>
</nav>
