.filter{
	display: inline-block;
	padding: 8px 12px 10px;
	margin-top: 35px;
	background-color: hsl(0, 0%, 95%);
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&category{
			display: inline-block;
			&:not(:last-child){
				margin-right: 20px;
			}
		}
		&name{
			display: inline-block;

			font-size: 13px;
		}
		&link{
			display: inline-block;

			font-size: 13px;
			color: hsl(197, 100%, 47%);
			text-decoration: none;
			border-bottom: 1px dashed hsl(197, 100%, 47%);
		}
	}
}
