<div class="filter">
	<div class="filter__category">
		<div class="filter__name">По цене:</div>
		<a href="#" class="filter__link">По возрастанию</a>
	</div>
	<div class="filter__category">
		<div class="filter__name">По популярности:</div>
		<a href="#" class="filter__link">По возрастанию</a>
	</div>
</div>
